{% extends "../cec_back.html" %}

{% block title %} Detalles del colectivo {% endblock %}

{% load static %}
{% block content %}
<div class="container mb-5">
    <h2 class="mb-5 mt-5">Colectivo: {% for x in colectivo %}{{x.titulo}}{% endfor %}</h2>
    <div class="row">
        <div class="col-4">
            <img src="{% for x in colectivo %}{{x.imagen_principal}}{% endfor %}" width="100%" height="auto"
                style="border-radius: 150px;" />
        </div>
        <div class="col">
            <p style="font-size: 22px;"><b>Descripción:</b> {% for x in colectivo %}{{x.descripcion}}{% endfor %}</p>
            <p style="font-size: 22px;"><b>integrantes:</b><br>
            {% for x in integrantes %}
                <img src="{% static '/img/login/profile.png' %}" width="50px" height="auto" style="border-radius: 25px;" class="m-2"> {{x.id_integrante.first_name}} {{x.id_integrante.last_name}} - Usuario:  {{x.id_integrante.username}}
                {% for y in colectivo %}
                    {% if y.lider.username == x.id_integrante.username %} <span class="label-primary" style="background-color: #428bca; color: white; font-weight: bold; border-radius: 5px; padding: 0px 5px; font-size: 16px;">Lider</span> {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
            
            </p>
            {% if miembro %}
            <button type="button" class="btn btn-danger" >Salir de la comunidad</button>
            <button type="button" class="btn btn-success">Añadir más miembros</button>
            {% else %}
            <button type="button" class="btn btn-success" >Unirse a la comunidad</button>
            <button type="button" class="btn btn-warning">Añadir a intereses</button>
            {% endif %}
            

        </div>
    </div>
</div>

{% endblock %}